Language:      Cpp
BasedOnStyle:  LLVM

# align
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: Consecutive
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled: true
  PadOperators: true
  AcrossEmptyLines: false
AlignConsecutiveDeclarations: AcrossComments
AlignOperands:   AlignAfterOperator
AlignTrailingComments: true

AllowAllArgumentsOnNextLine: true
AllowShortIfStatementsOnASingleLine : Never
AllowShortLoopsOnASingleLine : false
AllowShortLambdasOnASingleLine: All

# braces on next line
BreakBeforeBraces: Allman

IndentCaseLabels: true
IndentExternBlock: false
IndentWidth: 4
TabWidth: 4
UseTab: Never


ColumnLimit: 80
